:root{
	--primary_bg_col: #242124;
	--secondary_bg_col: #0890B2;
	--font_col: #efefef;
	--animation_col: #7904eb;
	--fontstyle: Pricedown;
}
#app {
	width: 100vw;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: black;
}

::-webkit-scrollbar-thumb {
	background-color: #075e7a;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--secondary_bg_col);
}
